.sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3.5rem;
}
.balance-sign-out-div{
    display: flex;
    align-items: center;
}
.account{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.avatar-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar-img{
    width: 60%;
    height: auto;
}
.nav-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.personal-info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.personal-info-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-items{
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 10px;
}
.form-item{
    display: grid;
    gap: 5px;
}
.form-item-name-fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item-label{
    text-align: left;
}
.pop-up-input{
    width: 100%;
}

.submit-button{
    display: flex;
    justify-content: end;
}


.option-section{
    display: none;
}
.option-section-active{
    display: block;
}