.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.75rem 1rem;
    width: 100%;

}

@media (max-width: 720px) {
    .catalog {
        display: flex;
        flex-direction: column;
        gap: 1.75rem 0;
        align-items: center;
    }
}

