.lot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 2rem;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    filter: invert(26%) sepia(4%) saturate(37%) hue-rotate(359deg) brightness(93%) contrast(78%);
}


.title {
    font-size: 2rem;
    padding:0 0 0.5rem 0.5rem;
    border-bottom: 1px solid #ccc;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
    padding-block: 2rem;
    color: var(--price-color);
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    color: var(--text-color-subactive);
    margin-bottom: 4rem;
}

.list ul {
    display: grid;
    gap: 1rem;
}

.list ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.auction-info {
    display: grid;
    gap: 1rem;
}

.bid-details {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-block: 2rem;
}

.buy {
    background-color: var(--price-color);
    padding: 0.5rem;
    color: var(--text-color-light);
    border-radius: 0.25rem;
}


