.filter-bar{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    
}
/* Price filter */
.price-filter{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    
}
.price-filter-content h3, .auction-type-filter-content h3{
    margin: 1rem 0;
}
/* Prices input field */
/* Basic styles */
.price-input-min, .price-input-max{
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 3px 3px 6px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 100px;
        
}



.price-button{
    padding: 0.8rem 1.8rem;
    background-color: var(--button-color);
    border-radius: 0.4rem;
    box-shadow: 3px 3px 6px #c5c5c5;
    color: white;
}
/* button hover */
.price-button:hover{
    background-color: #a00e0e;
    transition: 1s ease;
    transition: background-color 0.3s ease;
}
/* Styles for disabled button */
.price-button-disabled{
    background-color: grey;
    cursor:default;
    transition: background-color 0.3s ease;
    
    
}
/* hover for disabled  button*/
.price-button-disabled:hover {
    background-color: #6e6e6e; 
}

/*price slider section*/
.price-slider {
    margin-top: 1rem;
    position: relative;
    width: 100%;
     
}
/* delete default styles for range input */
.price-slider input{
    pointer-events: none;
    appearance: none;
    background: transparent;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
/* Custom styles for range input */
.price-slider input::-webkit-slider-thumb{/*  pseudo-element that allows to style the slider */
    pointer-events: auto; /* allows to change both sliders inputs*/
    appearance: none;
    width: 1.9rem;
    height: 1.9rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 3px 3px 2px rgb(0 0 0 / 20%);


    
}
/* styles for custom slide bar */
.custom-slider{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 15px;
    transform: translateY(-50%);
    border-radius: 1rem;
    background: var(--accent-color);
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}


/* Auction type filter */

.auction-type-filter-content{
    padding-top: 2.1rem;
}
.auction-type-label{
    font-size: 1.5rem;
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-top: 0.5rem;
}

.upcoming-auctions-checkbox, .live-auctions-checkbox{
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #eee;
    
}
.indicator{
    display: none;
}
.changeCheckBoxBackGround{
    background-color: #2196F3;
}

    

.indicator-switched-on {
    position: absolute;
    left: 12px;
    top: 5px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

