.filter_range {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.filter_subtitle{
    margin-bottom: 0.5rem;
}

.filter_range input {
    height: 2rem;
    background-color: #f8f8f8;

}

.filter_label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}