.filter-bar {
    border-right: 1px solid #ccc;
    padding-right: 2rem;
}

.filter_range {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    color: var(--text-color-subactive);
}

.filter_choice {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
    color: var(--text-color-subactive);

}

.filter_subtitle{
    margin-bottom: 1rem;
}

.filter_range input {
    height: 2rem;
    background-color: #f8f8f8;
    max-width: 8rem;
}







.filter_range input {
    height: 2rem;
    background-color: #f8f8f8;
    max-width: 8rem;
}

.filter_label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}



