.footer{
    width: 100%;
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

.footer_inner{
    padding-top: 3rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.social-media-li{
    display: flex;
    gap: 0.5rem;
    
}
.social-media-li img{
    width: 22%;
    height: auto;

}
.footer-list-items{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer h4{
    margin: 1rem 0;
}

.footer-logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 813px){
    
    .footer_inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-list-items{
        display: none;
    }
    .active{
        display: block;
    }
}