.header {
    background-color: var(--accent-color);
    color: var(--text-color-light);
    position: relative;
    z-index: 11;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    gap: 4rem;
    
}
.search-container{
    display: flex;
    height: 40px;
    width: 70%;
    align-items: center;
    border-radius: 8px;
    transform: scale(1);
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 11;
}
.search-container.focused{
    transform: scale(1.01);
}

.search-input{
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 50rem;
    height: 100%;
    color: var(--text-color-subactive);
    background-color: var(--bg-color);
    border-radius: 0.5rem 0 0 0.5rem;
    transition: all .3s ease-out;
    font-size: 1.125rem;
    font-weight: inherit;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 0;
    width: 4.5rem;
    height: 100%;
    border-radius: 0 8px 8px 0;
    border-left: 2px solid var(--text-color-subactive);
}

.search-button img {
    width: 1.5rem;
    height: auto;
    display: block;
}

.search-input:focus{
    color: var(--text-color);
    z-index: 11;

}



.nav_list{
    display: flex;
    gap: 1.5rem;
}
.nav_list li a {
    white-space: nowrap;
}

