.product_card {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease;
    max-width: 30rem;
    position: relative;
}

.product_card_image {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.product_card_image:hover {
    transform: scale(1.02);

}

.product_card_image_container {
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    height: 15rem;

}

.product_card_info {
    color: var(--text-color-subactive);
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.75rem;
}

.product_card_title {
    margin: 0.5rem 0;
}

.product_card_price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--text-color);
}

.product_card_price span {
    color: var(--price-color);
}