---
import "../styles/global.css";
import "../styles/contactUs.css";
import { Image } from "astro:assets";
import callIcon from "../images/icons/call_icon.svg";
import mailIcon from "../images/icons/mail_ico.svg";
import customerSupportIcon from "../images/icons/customerSupport-img.svg"
---

<div class="contact-us-container">
    <div class="contact-us-sub-header">
        <div class="sub-header-text">
            <h3>Get in touch</h3>
            <p>Want to get in touch? We'd love to hear from you. Here's how you can reach us.</p>
        </div>
        
            <Image src={customerSupportIcon} alt="customer-support-ico" class="sub-header-photo"></Image>
        
    </div>
    <div class="contact-box-wrapper">
        <div class="contact-box">
            <div class="contact-box-img">
                <Image src={callIcon} alt="call_icon" />
            </div>
            <h4 class="contact-box-title">Talk to Sales</h4>
            <p>
                Interested in HubSpot’s software? Just pick up the phone to chat
                with a member of our sales team.
            </p>
            <span class="phone-number"> 0964151541 </span>
        </div>
        <div class="contact-box">
            <div class="contact-box-img">
                <Image src={mailIcon} alt="mail_icon" />
            </div>
            <h4 class="contact-box-title">Contact Customer Support</h4>
            <p>
                Sometimes you need a little help from your friends. Or a HubSpot
                support rep. Don’t worry… we’re here for you.
            </p>
            <button class="contact-us-button">
                Contact Support
            </button>
        </div>
    </div>
</div>
