---
import "../styles/global.css"
import "../styles/description.css"

const { text } = Astro.props;

const descriptionText = text.split("/n");

if (descriptionText.length === 0) {
    descriptionText.push("No description available.");
}

---

<div class="description">
    <h3 class="heading">Description</h3>
    <div class="paragraphs">
        {
            descriptionText.map( (text: string) => (
                <p class="paragraph">{text}</p>
            ))
        }
    </div>
</div>