---


import  "../styles/global.css"
import "../styles/filterBar.css";
---

<div class="filter-bar">
    <h1>Filters</h1>
    <div class="price-filter-content">
        <h3>Price, Euro</h3>
        <form action="" class="price-filter">
            <input type="text" class="price-input-min" />
            <span>-</span>
            <input type="text" class="price-input-max" />
            <button class="price-button">Search</button>
        </form>
        <div class="price-slider">  
            <div class="custom-slider">
                
            </div>
            <input
                type="range"
                name="min_value"
                class="min_value"
                min="1000"
                max="12000"
                value="1500"
                
            />
            <input
                type="range"
                name="max_value"
                class="max_value"
                min="1000"
                max="12000"
                value="3000"
                
            />
        </div>
    </div>
    <div class="auction-type-filter-content">
        <h3>Auction Type</h3>
        <form action="" class="auction-type-filter">
            
            
            <label class="auction-type-label">Upcoming auctions

                <span class="upcoming-auctions-checkbox">
                    <div class="check-box1-indicator"></div>
                </span>
            </label>

            <label class="auction-type-label">Live auctions
                <span class="live-auctions-checkbox">
                    <div class="check-box2-indicator"></div>

                </span>
            </label>
        </form>
    </div>
</div>
<script>
    // get elements from html document
    const upcoming_auctions_checkbox = document.querySelector(".upcoming-auctions-checkbox") as HTMLInputElement;
    const live_auctions_checkbox = document.querySelector(".live-auctions-checkbox") as HTMLInputElement;
    const check_box1_indicator = document.querySelector(".check-box1-indicator") as HTMLInputElement; 
    const check_box2_indicator = document.querySelector(".check-box2-indicator") as HTMLInputElement; 
    const min_input = document.querySelector(".min_value") as HTMLInputElement;
    const max_input = document.querySelector(".max_value") as HTMLInputElement;
    const price_input_min = document.querySelector(".price-input-min") as HTMLInputElement;
    const price_input_max = document.querySelector(".price-input-max") as HTMLInputElement;
    const price_button = document.querySelector(".price-button") as HTMLInputElement;

    const updateProgress = () => {
        // Finds the difference between absolute max and min price
        const range = parseInt(max_input.max) - parseInt(min_input.min);
        // Finds the difference between selected min and max values
        const currentRange =
            parseInt(max_input.value) - parseInt(min_input.value);
        // Finds the width in percents
        const width = (currentRange / range) * 100;
        // Calculate distance between absolute min and selected min value in percents
        const minOffset =
            ((parseInt(min_input.value) - parseInt(min_input.min)) / range) *
            100;
        
    };
    const updateInputFields = () => {
        if (price_input_min) price_input_min.value = min_input.value; // Set the min value from slider to the min price input field
        if (price_input_max) price_input_max.value = max_input.value; // Set the max value from slider to the max price input field
    };

    min_input?.addEventListener("input", () => {
        price_button?.classList.remove("price-button-disabled");
            price_button.disabled = false;
        // if slider min value becomes bigger than max value
        if (parseInt(min_input.value) >= parseInt(max_input.value)) {
            max_input.value = min_input.value; // make max value the same as min value
        }
        updateProgress(); // update price progress bar
        updateInputFields(); // update values in price input fields
    });
    max_input.addEventListener("input", () => {
        price_button?.classList.remove("price-button-disabled");
        price_button.disabled = false;
        // if slider max value becomes lower than min value
        if (parseInt(max_input.value) <= parseInt(min_input.value)) {
            min_input.value = max_input.value; // make min value the same as max value
        }
        updateProgress(); // update price progress bar
        updateInputFields(); // update values in price input fields
    });
    updateProgress(); // update price progress bar
    updateInputFields(); // update values in price input fields

    

    // Handle blur on max price input
    price_input_max.addEventListener("blur", () => {
        price_input_max.classList.remove(
            "price-input-focused",
            "price-input-exceeding-value",
        );
        price_input_max.classList.add("price-input-max");
    });

    // Restrict max input to digits only and validate value
    price_input_max.addEventListener("input", () => {
        price_input_max.value = price_input_max.value.replace(/[^0-9]/g, "");

        const maxValue = parseInt(price_input_max.value);
        const minValue = parseInt(price_input_min.value);
        const minLimit = parseInt(min_input.min);
        const maxLimit = parseInt(max_input.max);

        if (maxValue < minLimit || maxValue > maxLimit || maxValue < minValue ) {
            
            price_button?.classList.add("price-button-disabled");
            price_button.disabled = true;
        } else {
            
            price_button?.classList.remove("price-button-disabled");
            price_button.disabled = false;
            price_input_max.classList.add("price-input-focused");
        }
    });

    // Restrict min input to digits only and validate value
    price_input_min.addEventListener("input", () => {
        price_input_min.value = price_input_min.value.replace(/[^0-9]/g, "");

        const minValue = parseInt(price_input_min.value);
        const maxValue = parseInt(price_input_max.value);
        const minLimit = parseInt(min_input.min);
        const maxLimit = parseInt(max_input.max);

        if (minValue < minLimit || minValue > maxLimit || minValue > maxValue) {
            
            price_button?.classList.add("price-button-disabled");
            price_button.disabled = true;
        } else {
            
            price_button?.classList.remove("price-button-disabled");
            price_button.disabled = false;
            
        }
    });
    upcoming_auctions_checkbox.onclick = function () {
        upcoming_auctions_checkbox.classList.toggle("changeCheckBoxBackGround");
        check_box1_indicator.classList.toggle("indicator-switched-on");
        

    };
    live_auctions_checkbox.onclick = function(){
        live_auctions_checkbox.classList.toggle("changeCheckBoxBackGround");
        check_box2_indicator.classList.toggle("indicator-switched-on");

    }
</script>
