---
import "../styles/global.css"
import "../styles/filterBar.css";
---

<div class="filter-bar">
    <form>
        <fieldset class="filter_range">
            <legend class="filter_subtitle" >Price</legend>
                <label>
                    <input type="number" placeholder="from"/>
                </label>

            <label>

                <input type="number" placeholder="to" />
            </label>
        </fieldset>

        <fieldset class="filter_range">
            <legend class="filter_subtitle" >Run</legend>
            <label>
                <input type="number" placeholder="from"/>
            </label>

            <label>

                <input type="number" placeholder="to" />
            </label>
        </fieldset>

        <fieldset class="filter_range">
            <legend class="filter_subtitle" >Wheel placement</legend>
            <label class="filter_label">
                <input type="checkbox"/>
                <span>Left hand</span>
            </label>

            <label class="filter_label">
                <input type="checkbox"/>
                <span>Right hand</span>
            </label>

        </fieldset>

        <fieldset class="filter_range">
            <legend class="filter_subtitle">Origin</legend>
            <label class="filter_label" >
                <input type="checkbox"/>
                <span>Germany</span>
            </label>

            <label class="filter_label">
                <input type="checkbox"/>
                <span>UK</span>
            </label>

        </fieldset>
    </form>
</div>


