---
import '../styles/global.css'
import '../styles/footer.css'
import instagramIco from '../images/icons/instagram.png'
import facebookIco from '../images/icons/facebook.png'
import whatsappIco from '../images/icons/whatsapp.png'
import { Image } from 'astro:assets'




---

<footer class="footer">
    <div class="footer_inner container">
        <div class="footer-logo-div">
            <span class="logo">Iron Offer <span class="logo_line"></span> </span>
        </div>
        <div class="footer-list"> 
            <h4>Buy Cars</h4>
            <ul class="footer-list-items">
                <li><a href="/"></a> Catalog</li>
            </ul>
        </div>
        <div class="footer-list">
            <h4>Credentials</h4>
            <ul class="footer-list-items">
                <li><a href="/account">Account</a></li>
                <li> <a href="/contactUs">Contact Us</a> </li>
                <li> <a href="/aboutUs">About Us</a> </li>
                <li> <a href="/aboutDevs">About Devs</a> </li>
            </ul>
        </div>
        <div class="footer-list">
            <h4>Connect with Us</h4>
            <ul class="footer-list-items">
                <li class="social-media-li">
                    <Image src={facebookIco} alt="facebook ico"></Image>
                    <a href="https://www.facebook.com/"> Facebook</a>
                </li>
                <li class="social-media-li">
                    <Image src={instagramIco} alt="instagram ico"></Image>
                    <a href="https://www.instagram.com/"> Instagram</a>
                </li>
                <li class="social-media-li">
                    <Image src={whatsappIco} alt="whatsapp ico"></Image>
                    <a href="https://www.whatsapp.com/"> Whatsapp</a>
                </li>
            </ul>
        </div>
    </div>
    <script>


        const list = document.querySelectorAll(".footer-list")
        const listItems = document.querySelectorAll(".footer-list-items")
        list.forEach((listItem, index)=>{
            listItem.addEventListener('click',()=>{
               
               listItems[index].classList.toggle("active");
            })
        })
        
    </script>
</footer>