---
import '../styles/global.css';
import '../styles/header.css';
---

<header class="header">
   <div class="header_inner container">
       <span>Logo</span>
       <input type="text" class="search-input" placeholder="Search"></input>
       <nav>
           <ul class="nav_list">
               <li><a href="/">Catalog</a></li>
               <li><a href="/account">Account</a></li>
           </ul>
       </nav>
   </div>
</header>

