---
import '../styles/global.css';
import '../styles/header.css';

import searchIcon from '../images/icons/searchIcon.svg';
import { Image } from 'astro:assets';

import { isLogged } from "../stores/mainStore.js";



//Todo make focus for search bar js

---

<header class="header">
   <div class="header_inner container">
       <span>Logo</span>
       <div class="search-container">
            <input type="text" class="search-input" placeholder="Search"></input>
            <button class="search-button" type="submit">
                <Image src={searchIcon} alt="search ico"></Image>
            </button>
        </div>
       <nav>
           <ul class="nav_list">
               <li><a href="/">Catalog</a></li>
               <li><a href={isLogged.get() ? "/account" : "/signIn"}>Account</a></li>
               <li><a href="/contactUs">Contact Us</a></li>
               <li><a href="/aboutUs">About us</a></li>
               <li><a href="/aboutDevs">About devs</a></li>
           </ul>
       </nav>
   </div>
</header>
<script>
    const input = document.querySelector(".search-input") as HTMLInputElement;
    const searchBar = document.querySelector(".search-container")

    const body = document.querySelector("body") as HTMLBodyElement;

    input?.addEventListener('focus', ()=>{
        searchBar?.classList.add("focused")
        body?.classList.add("blur")
    })
    input?.addEventListener("blur", () => {
        searchBar?.classList.remove("focused");
        body?.classList.remove("blur");
    });
</script>