---
import { Image } from 'astro:assets';
import likeIcon from '../images/icons/like.svg';

import '../styles/likeButton.css';

const { isAbsolute, isLiked } = Astro.props;
---

<button class={"like_button" + (isAbsolute? " absolute_position" : "") + (isLiked ? " liked" : "")}>
    <Image class="like_icon" src={likeIcon} alt="like"/>
</button>


<script>
    const likeButtons = document.querySelectorAll(".like_button");

    likeButtons.forEach((button) => {
        button.addEventListener("click", (e) => {
            e.preventDefault();
            button.classList.toggle("liked");
        })
    });
</script>