---
import "../styles/global.css";
import "../styles/signIn-signUp.css";
import { Image } from "astro:assets";
import loginSideImage from "../images/icons/loginPagePhoto2.webp";
---


    <div class="sign-in-section">
        
        <div class="sign-in-container">
            <h4 class="company-name-sign-in">Iron offer</h4>
            <div class="sign-in-header">
                <h2 class="sign-in-title">Hello again!</h2>
                <p class="sign-in-sub-title">Log in to continue bidding on the best car deals.</p>
            </div>
            <form action="submit" class="sign-in-form">
                <label
                    >Email
                    <input class="email" type="email" placeholder="Enter your email" />
                </label>
                <div class="error-message">Please enter a valid email address.</div>
                <label
                    >Password
                    <input class="password" type="password" placeholder="Enter your password" />
                </label>
                

                <button class="sign-in-button">Sign In</button>
                
            </form>
            <span>Don't have an account? <a href="/signUp" class="sign-in">Sign Out</a></span>
            
        </div>
        <Image
            src={loginSideImage}
            alt="Login side img"
            class="login-side-image-sign-in"
        />
    </div>

<script>
    const sign_in_button = document.querySelector(".sign-in-button");
    const email = document.querySelector(".email") as HTMLInputElement;
    const error_message_block = document.querySelector(".error-message") as HTMLElement;
    sign_in_button?.addEventListener("click", (e)=>{
        const emailValue = email.value;
        e.preventDefault();
        const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        !emailRegex.test(emailValue) ? error_message_block.style.display = "block" : error_message_block.style.display = "none"
        

    })
</script>