---
import "../styles/global.css";
import "../styles/signIn-signUp.css";
import { Image } from "astro:assets";
import loginSideImage from "../images/icons/registerPagePhoto.webp";
---

<div class="container">
    <div class="sign-up-section">
        <div class="sign-up-container">
            <h4 class="company-name">Iron offer</h4>
            <div class="sign-up-header">
                <h2 class="sign-up-title">Create a new account</h2>
            </div>
            <form action="submit" class="sign-in-form">
                <div class="first-last-name-wrapper">
                    <label
                        >First name
                        <input
                            class="first-name"
                            type="email"
                            placeholder="Vin"
                        />
                    </label>

                    <label
                        >Last name
                        <input
                            class="last-name"
                            type="email"
                            placeholder="Diesel"
                        />
                    </label>
                </div>
                <div class="error-message">First name is required.</div>
                <div class="error-message">Last name is required.</div>
                <label
                    >Email
                    <input
                        class="email"
                        type="email"
                        placeholder="emily.brown93@gmail.com"
                    />
                </label>
                <div class="error-message">
                    Please enter a valid email address.
                </div>
                <label
                    >Password
                    <input
                        class="password"
                        type="password"
                        placeholder="password123"
                    />
                </label>
                <div class="error-message">Password field cannot be empty.</div>
                <div class="error-message">
                    Password must be at least 8 characters long.
                </div>
                <div class="error-message">
                    Password must contain at least one uppercase letter.
                </div>
                <div class="error-message">
                    Password must include at least one number.
                </div>

                <label
                    >Repeat password
                    <input
                        class="repeat-password"
                        type="password"
                        placeholder="password123"
                    />
                </label>
                <div class="error-message">Passwords do not match.</div>
                <label
                    >Phone number
                    <input
                        type="tel"
                        class="phone-input"
                        placeholder="+44 7700 900123"
                    />
                </label>
                <div class="error-message">Phone number is required.</div>
                <label
                    >Birth Date
                    <input type="date" class="date-input" />
                </label>
                <div class="error-message">Birth Date is required.</div>

                <button class="sign-up-button">Register</button>
            </form>
            <span>Already have an account? <a href="/signIn" class="sign-in">Sign in</a></span>
        </div>
        <Image
            src={loginSideImage}
            alt="Login side img"
            class="login-side-image-sign-up"
        />
    </div>
</div>
<script>
    const first_name = document.querySelector(
        ".first-name",
    ) as HTMLInputElement;
    const last_name = document.querySelector(".last-name") as HTMLInputElement;
    const phone_input = document.querySelector(
        ".phone-input",
    ) as HTMLInputElement;
    const date_input = document.querySelector(
        ".date-input",
    ) as HTMLInputElement;
    const sign_in_button = document.querySelector(".sign-up-button");
    const email = document.querySelector(".email") as HTMLInputElement;
    const error_message_blocks = document.querySelectorAll(".error-message");
    const password = document.querySelector(".password") as HTMLInputElement;
    const repeat_password = document.querySelector(
        ".repeat-password",
    ) as HTMLInputElement;

    sign_in_button?.addEventListener("click", (e) => {
         e.preventDefault();
        const name = first_name.value.trim(); 
        

        if (name === "") {
            (error_message_blocks[0] as HTMLElement).style.display = "block";
        } else {
            (error_message_blocks[0] as HTMLElement).style.display = "none";
        }

        const lastName = last_name.value.trim(); 
        if (lastName === "") {
            (error_message_blocks[1] as HTMLElement).style.display = "block";
        } else {
            (error_message_blocks[1] as HTMLElement).style.display = "none";
        }


        const emailValue = email.value;
       
        const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        !emailRegex.test(emailValue)
            ? ((error_message_blocks[2] as HTMLElement).style.display = "block")
            : ((error_message_blocks[2] as HTMLElement).style.display = "none");
        
        if (password.value.trim() === "") {
            (error_message_blocks[3] as HTMLElement).style.display = "block";
        } else {
            (error_message_blocks[3] as HTMLElement).style.display = "none";
        }
        password.value.length < 8 ? ((error_message_blocks[4] as HTMLElement).style.display = "block") 
        : ((error_message_blocks[4] as HTMLElement).style.display = "none");

        !/[A-Z]/.test(password.value) ? ((error_message_blocks[5] as HTMLElement).style.display = "block") 
        : ((error_message_blocks[5] as HTMLElement).style.display = "none");

        !/[0-9]/.test(password.value)? ((error_message_blocks[6] as HTMLElement).style.display = "block") 
        : ((error_message_blocks[6] as HTMLElement).style.display = "none");

        password.value != repeat_password.value
            ? ((error_message_blocks[7] as HTMLElement).style.display = "block")
            : ((error_message_blocks[7] as HTMLElement).style.display = "none");
       const phoneInput = phone_input.value.trim(); 
        if (phoneInput === "") {
            (error_message_blocks[8] as HTMLElement).style.display = "block";
        } else {
            (error_message_blocks[8] as HTMLElement).style.display = "none";
        }

        const birthDate =date_input.value.trim(); 
        if (birthDate === "") {
            (error_message_blocks[9] as HTMLElement).style.display = "block";
        } else {
            (error_message_blocks[9] as HTMLElement).style.display = "none";
        }
        
    });
</script>
